<h1>HEADING!</h1>
<h1 class="right">HEADING with a class applied!</h1>

<div id="top_heading">Special ID</div>

<div class="blink">Blinking text</div>

<!-- It may cause problems to have more than one element with the same ID. -->
<!--div id="top_heading">Special ID 2</div-->

<p class="error">Error Text</p>

<div class="shadow">SHADOW TEXT</div>

<a href="http://www.jivesf.com">SPECIAL LINK</a>

Other text<br/>
Other text<br/>
Other text<br/>
Other text<br/>
Other text<br/>
Other text<br/>
Other text<br/>
